body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.container {
    padding: 5%;
}

.first {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}

.second {
    background-color: hsl(184, 100%, 22%);
}

.third {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}

span.title {
    font-size: 26px;
    font-weight: 800;
    font-family: 'Big Shoulders Display', cursive;
    color: white;
    text-transform: uppercase;
}

button.learn {
    border-radius: 2rem;
    background-color: white;
    border: none;
    font-size: 13px;
    padding: 1rem 2rem;
    border: 2px solid white;
}

button.learn:hover {
    background-color: transparent;
    color: white !important;
    border: 2px solid white;
}

.first button.learn {
    color: hsl(31, 77%, 52%);
}

.second button.learn {
    color: hsl(184, 100%, 22%);
}

.third button.learn {
    color: hsl(179, 100%, 13%);
}

p {
    color: white;
}

@media (min-width: 992px) {
    
    .first {
        border-radius: 10px 0 0 10px;
    }
    
    .third {
        border-radius: 0 10px 10px 0;
    }
}